.openSoarFA-mainPanel {
	width: 100%;
}

.openSoarFA-displayPanel {
	width: 100%;
}

.openSoarFA-visualDisplayPanel {
	border: solid 1px #dddddd;
	float: left;
	margin: 3px;
	padding: 5px;
	width: 75%;
}

.openSoarFA-displayControlPanel {
	border: solid 1px #dddddd;
	float: left;
	height: 420px;
	margin: 3px;
	width: 25%;
}

.openSoarFA-controlsPanel {
	border-bottom: solid 1px #eeeeee;
	margin: auto auto auto auto;
	padding-bottom: 4px;
	padding-top: 4px;
	width: 98%;
}

.openSoarFA-controlsPanel td {
}

.openSoarFA-title {
	color: #888888;
}

.openSoarFA-map2D {
	height: 420px;
	width: 100%;
}

.openSoarFA-moreInfoPanel {
	clear: both;
	border: solid 1px #dddddd;
	height: 190px;
	margin: 3px;
	width: 100%;
}