/* ---- ---- ---- ---- ---- ---- ----
 * -- HTML tags direct customization 
 * ---- ---- ---- ---- ---- ---- ---- */
body {
	width: 100%;
}

/* ---- ---- ---- ---- ---- ---- ----
 * -- GWT Widgets customization 
 * ---- ---- ---- ---- ---- ---- ---- */
.gwt-TabPanel {
	background: #EAF3FD none repeat scroll 0 0;
	margin: 0px;
	padding: 0px;
	width: 100%;	
}

.gwt-TabPanelBottom {
	background: white;
	border: 0px;
	border-top: solid 1px #C6DFF9;
}

.gwt-TabBarItem {
	background: #ffffff none repeat scroll 0 0;
	width: 100px;
}

/* ---- ---- ---- ---- ---- ---- ----
 * -- OpenSoaring Main Application Container - Entry Point
 * ---- ---- ---- ---- ---- ---- ---- */
.openSoar-mainPanel {
	margin: auto auto auto auto;
	width: 96%;
	
}

.openSoar-headerPanel {
	height: 60px;
	width: 100%;
}

.openSoar-navPanel {
	background: transparent url(../images/navbar_bg.png) repeat scroll 0 0;
	clear: both;
	float: left;
	width: 100%;
}

.openSoar-navButton-up, .openSoar-navButton-down, .openSoar-navButton-up-hovering, 
  .openSoar-navButton-down-hovering {
	border-right: 1px solid #5599dd;
	color: #FFFFFF;
	cursor: pointer;
	font-weight: bold;
	padding: 3px 10px;
	text-align: center;
	width: 70px;
}

.openSoar-navButton-up {
	background: transparent url(../images/navbar_bg.png) repeat scroll 0 0;
}

.openSoar-navButton-down-hovering, .openSoar-navButton-up-hovering {
	background: transparent url(../images/navbar_bg3.png) repeat scroll 0 0;
}

.openSoar-navButton-down {
	background: transparent url(../images/navbar_bg2.png) repeat scroll 0 0;
}

.openSoar-contentPanel {
	clear: both;
	float: left;
	width: 100%;
}

/* ---- ---- ---- ---- ---- ---- ----
 * -- OpenSoaring Application - Inside the OpenSoaring container
 * ---- ---- ---- ---- ---- ---- ---- */
.openSoarApp-mainPanel {
	clear: both;
	float: left;
	width: 100%;
}

.openSoarApp-headerPanel {
	background: #EAF3FD none repeat scroll 0 0;
	clean: both;
	float: left;
	padding: 12px 2px 10px 15px;
	width: 100%;
}

.openSoarApp-appTitlePanel {
	float: left;
	font-family: sans-serif;
	font-size: 15px;
	font-weight: bold;
	height: 26px;
	width: 100%;
}

.openSoarApp-contentPanel {
	clean: both;
	float: left;
	width: 100%;
}

.openSoarApp-infoMsgPanel {
	float: right;
	margin-right: 20px;
	text-align: center;
}

.openSoarApp-infoMsg {
	padding: 1px 10px 1px 10px;
	width: 400px;
}

.openSoarApp-infoMsgERROR {
	background: #ffe87e;
}
.openSoarApp-infoMsgINFO {
	background: #d0e4f6;
}