/* ---- ---- ---- ---- ---- ---- ----
 * -- HTML tags direct customization 
 * ---- ---- ---- ---- ---- ---- ---- */
body {
	font-family: Arial;
	margin: 5px auto auto auto;
	width: 98%;
}

/* ---- ---- ---- ---- ---- ---- ----
 * -- OpenSoaring Main Application Container - Entry Point
 * ---- ---- ---- ---- ---- ---- ---- */
.openSoar-mainPanel {
	width: 100%;
}

.openSoar-headerPanel {
}

.openSoar-title a {
	color: black;
	float: left;
	font-weight: bold;
	font-size: 15pt;
	margin-right: 7px;
}

.openSoar-subTitle {
	color: #777777;
	float: left;
	font-size: 15pt;
	margin-right: 50px;
}

.openSoar-navPanel {
	float: left;
	width: 100%;
}

.openSoar-navButton-up, .openSoar-navButton-down, .openSoar-navButton-up-hovering, 
  .openSoar-navButton-down-hovering {
	cursor: pointer;
	float: left;
	font-size: 11pt;
	margin: 3px 10px;
	text-align: center;
}

.openSoar-navButton-up {
	color: #A0A0A0;
}

.openSoar-navButton-down-hovering, .openSoar-navButton-up-hovering {
	color: black;
}

.openSoar-navButton-down {
	color: black;
}

.openSoar-contentPanel {
	width: 100%;
}

/* ---- ---- ---- ---- ---- ---- ----
 * -- OpenSoaring Application - Inside the OpenSoaring container
 * ---- ---- ---- ---- ---- ---- ---- */
.openSoarApp-mainPanel {
	margin-top: 5px;
	width: 100%;
}
