/* ---- ---- ---- ---- ---- ---- ----
 * -- OpenSoaring Schedule Application
 * ---- ---- ---- ---- ---- ---- ---- */
 .openSoarSched-navPanel {
	background: #EAF3FD none repeat scroll 0 0; 
	border-bottom: solid 1px #C6DFF9;
	margin: 0px;
	padding-right: 20px;
	width: 100%;
}

.openSoarSched-navButton-up, .openSoarSched-navButton-down, 
.openSoarSched-navButton-up-hovering, .openSoarSched-navButton-down-hovering {
	font-size: 13px;
	padding: 2px 8px 2px 8px;
	text-align: center;
	width: 60px;
}

.openSoarSched-navButton-up, .openSoarSched-navButton-up-hovering {
	color: #0066cc;
	text-decoration: underline;
}

.openSoarSched-navButton-down, .openSoarSched-navButton-down-hovering {
	background: #ffffff none repeat scroll 0 0;
	border: solid 1px #C6DFF9;
	border-bottom: none;
	font-weight: bold;
	margin-bottom: -1px;	
}

.openSoarSched-navButton-down-hovering, .openSoarSched-navButton-up-hovering {
	cursor: pointer;
}

.openSoarSched-contentPanel {
	background: white;
	border: 0px;
	width: 100%;
}

.openSoarSched-mainPanel {
	width: 100%;
}

.openSoarSched-schedTable {
	background: #f2f6fb;
	border-bottom: solid 1px #e8eef7;
	border-top: solid 1px #e8eef7;
	width: 100%;
}

.openSoarSched-schedDay {
	border: solid 4px yellow;
}

.openSoarSched-schedHeader {
	background: #c3d9ff;
	color: #112abb;
	font-size: 11px;
	padding: 2px 0px 2px 0px;
	text-align: center;
	width: 100%;
}

.openSoarSched-schedHeader-today {
	background: #88aacc;
	color: white;
}

.openSoarSched-schedEntry {
	background: white;
	color: #577595;
	font-size: 11px;
	padding: 2px 0px 2px 0px;
	text-align: center;
	width: 100%;
}
.openSoarSched-schedEntry-INSTRUCTOR {
	background: #dc9595;
}
.openSoarSched-schedEntry-WINCHER {
	background: #63dba7;
}
.openSoarSched-schedEntry-TRIALPILOT {
	background: #eeeeee;
}
.openSoarSched-schedEntry-STUDENT {

}