.navSchedPanel {
	background: #EAF3FD none repeat scroll 0 0;
	width: 100%;
	margin: 0px;
}

.navSchedButton-up, .navSchedButton-down, .navSchedButton-up-hovering, .navSchedButton-down-hovering {
	width: 100px;
	font-size: 1.0em;
	padding: 3px 8px 3px 8px;
	text-align: center;
}

.navSchedButton-down, .navSchedButton-down-hovering {
	background: #ffffff none repeat scroll 0 0;
	font-weight: bold;	
	border: solid 1px #C6DFF9;
	border-bottom: none;
}

.navSchedButton-down-hovering, .navSchedButton-up-hovering {
	cursor: pointer;
}

.contentSchedPanel {
	width: 100%;
	background: white;
	border: 0px;
}

.schedPanel {
	width: 100%;
}

